* {box-sizing: border-box;
	margin: 0;
	padding: 0
	}

body {font-family: Helvetica, Arial, "sans-serif"
	}

.row {width: 100%;
		}

h1 {text-align: center ;
	margin: 30px;
	font-size: 175%;
	text-transform: uppercase
	}

h2 {text-transform: uppercase;
	text-align: center;
	font-size: 125% ;
	border: 2px solid black;
	padding: 8px, 3px, 3px, 3px;
	}

p {font-size: 100%;
	text-align: justify;
	padding: 20px;
	clear: right}

.cbox {background-color: bisque;
		width: 100px;
		float: right;
		margin: -2px, -2px, 0px, 0px
		}

.bbox {background-color: burlywood;
		width: 100px;
		float: right;
		margin: -2px, -2px, 0px, 0px
		}

.sbox {background-color: darkgray;
		width: 110px;
		float: right;
		margin: -2px, -2px, 0px, 0px}

.itembox {
		margin:20px;
		border: 2px solid black;
		background-color: #ccffcc;
		}


@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
 	.col-lg-4 {width: 33.33%}
  
  }

@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6, .col-md-12 {
    float: left;
	margin: auto
  }
	.col-md-6 {width: 50%;}
	.col-md-12 {width:100%}

  }

@media (max-width: 767px) {
  .col-sml-1, .col-sml-2, .col-sml-3, .col-sml-4, .col-sml-5, .col-sml-6, .col-sml-7, .col-sml-8, .col-sml-9, .col-sml-10, .col-sml-11, .col-sml-12 {
	}
	
	.col-sml-12 {width: 100%}
}