* {box-sizing: border-box;
	margin: 0;
	padding: 0
	}

body {font-family: Helvetica, Arial, "sans-serif";
	background-color:#D7D283;
	}

#header-nav {background-color:#78A76F;
	border: 0;
	border-radius: 0}

h1 {color:#000000;
	margin: 10px;
	text-transform: uppercase;
	text-decoration: none;
	}

.navbar-brand a:hover, .navbar-brand a:focus {text-decoration: none;
	}

/*


@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
 	.col-lg-4 {width: 33.33%}
  
  }

@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6, .col-md-12 {
    float: left;
	margin: auto
  }
	.col-md-6 {width: 50%;}
	.col-md-12 {width:100%}

  }

@media (max-width: 767px) {
  .col-sml-1, .col-sml-2, .col-sml-3, .col-sml-4, .col-sml-5, .col-sml-6, .col-sml-7, .col-sml-8, .col-sml-9, .col-sml-10, .col-sml-11, .col-sml-12 {
	}
	
	.col-sml-12 {width: 100%}
}*/